<ion-header [translucent]="true" class="header-container">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="servG.irA('/inicio-sesion')">
      <ion-icon name="caret-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-wrap">
  <ion-list>
    
    <ion-item>
      <ion-label position="floating">usuario: </ion-label>
      <ion-input type="text" [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  position="floating">contrasena: </ion-label>
      <ion-input id="pass" type="password" class="input" name="password" [(ngModel)]="contra_usu"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">email: </ion-label>
      <ion-input type="text" [(ngModel)]="correo_usu"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">celular: </ion-label>
      <ion-input type="text" [(ngModel)]="celular_usu"></ion-input>
    </ion-item>
    
    

  </ion-list>
  <button (click)="fun_grabar_usuario()" >
    Guardar
  </button>
</div>
</ion-content>
