.informative-image {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
  }
  
  .section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f4f4f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    color: #3880ff;
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
  
  p {
    color: #444;
    line-height: 1.6;
  }
  
  .header-container {
    background-color: #f1720a;
    color: white;
  
    ion-toolbar {
      --background: #f1720a;
      --color: white;
    }
  }